body {background-color: lightgray;
      color: black;
      padding: 20px;
      font-family: arial, verdana, sans-serif;}

      h1  {color: DarkCyan;
            font: Trebuchet;
            font-size: 24px;}
    h2 {font: Impact ; font-size: 18px;
    color: MediumAquaMarine;}
